.formclass {
  position:relative;
  margin: 0;
  clear:both;
  width:100%;
}
.formclass td {
  text-align:left;
  vertical-align:top;
  padding:5px;
}
.formclass td.col1 {
  margin: 0;
  text-align:right;
  font-weight:bold;
  color:#4b4b4b;
  width:25%;
}
  .formclass td.required{
    font-weight:bold;
    color:#000;
  }

 /* BOOLEAN YES/NO QUESTIONS */
 .formclass .boolean td.col1{
    width:80%;
    text-align:left;
 }

.formclass td.col2 {
  text-align:left;
	width:70%;
  /* width:545px; */
}

.formclass .form_error{
  color:red;
}


/* inputs */
.formclass input,
.formclass textarea,
.formclass select,
input.next, input.previous,
input.submit{
  border:2px #b5b5b5 inset ;
  background:#eee;
  padding:2px 4px;
  font-family:inherit;
  font-size:100%;
  /* width:527px; */
  margin-left:1%;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
.formclass textarea{
  font-size:15px;
  min-height:100px;
	width:100%;
  /* width:527px; !important;  */
}
.formclass select{
 /* width:539px !important; */
}

.formclass .hidden input{
	border:none;
	background-color:transparent;
  padding:0;
	width:10%;
  margin-left:1%;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
}


/* hover and focus */
.formclass input:hover,
.formclass textarea:hover,
.formclass .submit_btns input:hover,
.next:hover, .previous:hover,
.submit:hover{
  color:#2a680f;
  border-color:#329115;
  background:#f7fff7;
	
	border:2px #329115 solid;
  background:#f7fff7;
  padding:2px 4px;
  font-family:inherit;
  font-size:100%;
  /* width:527px; */
  margin-left:1%;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;

}
.formclass input:focus,
.formclass textarea:focus{
  color:#0f3368;
  border-color:#154791;
  background:#f7faff;
}



/*--- RADIOS & CHECKBOXES ---*/
.formclass table {
  width:100%;
}

.formclass table td.col2 p{
  position:relative;
  display:inline-block;
}
.formclass table td.col2 label{
  display:inline-block;
  border-style:outset;
  font-size:1em;
  border:2px inset #b5b5b5;
  background:#eee;
  padding:2px 4px;
  padding-left:20px !important;  
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
.formclass table td.col2 input{
  position:absolute;
  top:5px;
  left:5px;
  width:auto !important;
  background:none;
  border:none;
  padding:0 !important;
}

.formclass table td.col2 label:hover{
	color:#2a680f;
	border-color:#329115;
	background:#f7fff7;
}
.formclass table td.col2 label:focus{
	color:#0f3368;
	border-color:#154791;
	background:#f7faff;
}

.formclass table input,
.formclass .buttons input,
.formclass table td{
  width:auto;
}

/*--- SUBMIT BUTTON ---*/
.formclass .buttons{
  padding-left:20px;
}
.formclass .buttons input,
input.next, input.previous,
input.submit{
  margin-top:20px;
  font-size:110%;
  border-style:outset;
  cursor:pointer;
  width:auto !important;
}

/*--- FIELDSETS ---*/
fieldset{
  margin:0 0 15px 0;
  width:100%;
}
fieldset legend{
  margin:5px 0 10px 10px;
  padding:0 8px;
  font-family:'Museo',Verdana,Helvetica,Arial,sans-serif;
  font-size:1.6em;
  color:#a63400;
}

p.subheading{
  font-size:1.46em;
  color:#a66e00;
  font-family:'Museo',Verdana,Helvetica,Arial,sans-serif;
  margin:5px 0 0 0 !important;
}


/*--- HIDDEN TOGGLES ---*/
.hidden_toggle{
  background:#b1eb7e;
  padding:10px 0;
  margin:5px 0;
  border:2px solid #73c431;
  border-left:none;
  border-right:none;
  display:none;
}
.hidden_toggle label{
	color:#326b00;
}
.results_table {
    border: 2px solid black;
    background-color: #ffffff;
}